/* body {
  font-family: "Baloo Tamma 2", cursive;

  font-family: "Indie Flower", cursive;
} */

/* **Reset** */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* **************************************** Utility Component *********************************** */
:root {
  font-size: 62.5%;
  /* ********** Custom Properties ************ */
  /* Main Color */
  --primary-color: #014d4e;

  /* secondary color */
  --secondary-color: #ff9408;

  /* secondary color modified */
  --secondary-color-m: #ff94088e;

  /* tertiary-color */
  --tertiary-color: #017374;

  /* tertiary-color modified */
  --tertiary-color-m: #01727498;
}

body {
  font-family: "Baloo Tamma 2", cursive;
  line-height: 1.8;
  display: flex;
}

/* List items */
li {
  list-style: none;
}
/* anchor  tag*/
a:link,
a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
/* ************************* Main Styling ********************************* */

/* ############################### Side Nav ############################# */

aside#side-nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

div.side-nav__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
}
div.side-nav__content--logo img {
  width: calc(3vw + 3vh);
  object-fit: cover;
}
ul.side-nav__content--social {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
ul.side-nav__content--social a i {
  /* 2rem = 20px  => {1rem + [(10/1024) * 100]} => Dynamic Values */
  font-size: calc(1rem + 0.97656vw);
  color: white;
  padding-bottom: calc(2rem + 0.97656vw);
  transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
ul.side-nav__content--social a i:hover,
ul.side-nav__content--social a i:active {
  color: var(--secondary-color);
}

/* ********************************** Main Content ****************************** */

/* All content container => main element */
main {
  flex: 1;
}
/* *--*--*--*--*--*--*--*--*--*--*-- Main Nav Header *--*--*--*--*--*--*--* */
header#header {
  background-color: var(--secondary-color);
  height: calc(3vw + 3vh);
  z-index: 2;
}
nav#header__main-nav {
  height: 100%;
}
ul.header__main-nav--links {
  /* Just for demonstration purpose */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
ul.header__main-nav--links li {
  padding-right: 3vw;
}
ul.header__main-nav--links li a {
  position: relative;
  padding: 0.2rem 0.6rem;
  font-size: calc(1rem + 0.97656vw);
}
ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before,
ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.6s ease;
}
ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before {
  top: 0;
  /* Transform orgin is center by default */
  transform-origin: left;
}
ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
  bottom: 0;
  transform-origin: right;
}
ul.header__main-nav--links li a:hover::before,
ul.header__main-nav--links li a:active::before,
ul.header__main-nav--links li a:hover::after,
ul.header__main-nav--links li a:active::after {
  transform: scaleX(1);
}
/* ************************** Showcase / Hero Section *************************** */
section#showcase {
  height: 100vh;
  background-image: url(img/full-bg-07.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
div.showcase__content {
  background-color: var(--secondary-color-m);
  padding: calc(1rem + 2vw);
  /* width: calc(22rem + 20vmax); */
  height: calc(5rem + 20vmax);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: Hero 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes Hero {
  0% {
    transform: translateX(100rem) rotateZ(350deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.showcase__content--title {
  font-size: calc(2rem + 3vw);
  color: white;
}
.showcase__content--para {
  font-family: "Indie Flower", cursive;
  font-size: calc(1.5rem + 1vw);
  color: white;
}
.showcase__content--link:link,
.showcase__content--link:visited {
  padding: 1rem 0;
  transition: all 0.5s ease-in-out;
  width: 9rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  position: relative;

  z-index: 1;
}
.showcase__content--link:link::after,
.showcase__content--link:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: right;

  z-index: -1;
}
.showcase__content--link:hover::after,
.showcase__content--link:active::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* ************************** Work Section *************************** */
section#work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: var(--tertiary-color);
}
div.work__card {
  padding: 2rem;
  flex-basis: 40rem;
  flex-grow: 1;
  clip-path: polygon(
    20% 0,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}
div.work__card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: filter 0.45s ease;
}
div.work__card img:hover,
div.work__card img:active {
  filter: sepia(80%);
}

/* ************************about-me section********************* */

section#about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: var(--secondary-color);
}
.about-me__img,
.about-me__content {
  flex-basis: 40rem;
  padding: 2rem;
  flex-grow: 1;
}
.about-me__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-me__content--title {
  font-size: 4rem;
  padding: 1rem 0;
  color: white;
  text-transform: uppercase;
  position: relative;
}
.about-me__content--title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.3rem;
  width: 10%;
  background-color: var(--primary-color);
}
.about-me__content--title,
.about-me__content--para {
  margin-bottom: 4rem;
  letter-spacing: 0.2rem;
}
.about-me__content--para {
  font-size: 1.8rem;
  font-family: "Indie Flower", cursive;
}
.about-me__content--link:link,
.about-me__content--link:visited {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.about-me__content--link:link::after,
.about-me__content--link:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.45s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -1;
}
.about-me__content--link:hover::after,
.about-me__content--link:active::after {
  transform: scaleY(1);
  transform-origin: top;
}

/* ****************************** Service-section  ********************************* */
section#services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 6rem 2rem 2rem;
  background-color: var(--primary-color);
}
.service {
  padding: 4rem;
  margin: 0 2rem 4rem;
  flex-basis: 40rem;
  flex-grow: 1;
  background-color: var(--secondary-color);
  border-bottom: 0.2rem solid var(--secondary-color);
  border-right: 0.2rem solid var(--secondary-color);
  border-left: 0.2rem solid var(--secondary-color);
  position: relative;
  z-index: 1;
}
.service::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: transform 0.45s cubic-bezier(1, 0, 0, 1);

  z-index: -1;
}
.service:hover::after,
.service:active::after {
  transform: scaleX(1);
}
.service i,
.service .services--title {
  margin-bottom: 2rem;
}

.service i {
  font-size: 3rem;
  color: white;
}

.services--title {
  font-size: 3rem;
  text-transform: uppercase;
}
.services--para {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  color: white;
}
/* *--*--*--*--*--*--*--* Skill Sections *--*--*--*--*--*--*--*  */

section#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: calc(1rem + 2vw);
  background-color: var(--tertiary-color);
}
.skills__design,
.skills__coding {
  padding: calc(1rem + 2vw);
  text-transform: uppercase;
  flex-basis: 40rem;
  flex-grow: 1;
}
.skills__design--title,
.skills__coding--title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.skills__design h4,
.skills__coding h4 {
  font-size: 2rem;
  color: white;
}
.skills__design--progress,
.skills__coding--progress {
  position: relative;
  display: block;
  padding: 0.5rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  width: 100%;
  margin-bottom: 2rem;
}
.skills__design--progress span,
.skills__coding--progress span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--secondary-color);
}
.skills__design--progress__1 {
  animation: design-1 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes design-1 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
.skills__design--progress__2 {
  animation: design-2 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes design-2 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
.skills__design--progress__3 {
  animation: design-3 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes design-3 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
.skills__design--progress__4 {
  animation: design-4 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes design-4 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

.skills__coding--progress__1 {
  animation: coding-1 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes coding-1 {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
.skills__coding--progress__2 {
  animation: coding-2 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes coding-2 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
.skills__coding--progress__3 {
  animation: coding-3 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes coding-3 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
.skills__coding--progress__4 {
  animation: coding-4 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes coding-4 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

/* *--*--*--*--*--*--*--* Testimonial Sections  *--*--*--*--*--*--*--*  */
section#testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: calc(1rem + 2vw);
  color: white;
  background-color: var(--secondary-color);
}
.testimonials__card {
  padding: 2vw;
  flex-basis: 50rem;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.testimonials__card--img {
  height: 100%;
  width: 100%;
}
.testimonials__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.35s ease-in-out;
}
.testimonial__card--content__title {
  font-size: 3rem;
  text-transform: uppercase;
}
.testimonial__card--content__para {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
}
.testimonials__card--content {
  position: absolute;
  top: 60%;
  left: 0;
  width: 80%;
  background-color: var(--tertiary-color-m);
  padding: 1.5rem;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.35s ease-in-out;
}
.testimonials__card:hover .testimonials__card--content,
.testimonials__card:active .testimonials__card--content {
  transform: scaleY(1);
  transform-origin: center;
}
.testimonials__card:hover .testimonials__card--img img,
.testimonials__card:active .testimonials__card--img img {
  transform: scale(0.98);
  filter: grayscale(50%);
}
/* *_*_*_*_*_*_*_*_*_*_*_*_*_ Contact section *_*_*_*_*_*_*_*_*_*_*_*_*/

section#contact {
  height: 100vh;
  background-image: url("img/full-bg-03.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.contact__form {
  flex-basis: 40rem;
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color-m);
}
.contact__form input,
.contact__form textarea {
  color: white;
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 2rem;
  background: transparent;
  border: none;
  border-bottom: var(--secondary-color) solid 0.1rem;
}
.contact__form textarea {
  height: 30vh;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* *--*--*--*--*--*--*--* Media Queries(min-with:1510px) Mark *--*--*--*--*--*--*--*  */
@media screen and (min-width: 1510px) {
  body {
    width: 1510px;
    margin: 0 auto;
  }
  section#contact {
    background-size: cover;
  }
}

/* *--*--*--*--*--*--*--* Media Queries(max-with:900px) Mark *--*--*--*--*--*--*--*  */
@media screen and (max-width: 900px) {
  /* ************************** Showcase / Hero Section *************************** */
  section#showcase {
    background-position: 100%;
    align-items: flex-end;
  }
}

/* *--*--*--*--*--*--*--* Media Queries(max-with:610px) Mark *--*--*--*--*--*--*--*  */
@media screen and (max-width: 610px) {
  /* *--*--*--*--*--*--*--*--*--*--*-- Main Nav Header *--*--*--*--*--*--*--* */
  header#header {
    position: absolute;
  }
  nav#header__main-nav {
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30rem; /*! It is defaultly not visibile in scree only when we click the menu it will shown so in this place i will give -30rem*/
    background-color: var(--secondary-color);
    text-align: center;
  }
  .clicked {
    left: 55%;
  }
  .header__main-nav--hamburger {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  div.line {
    width: 100%;
    height: 0.3rem;
    background-color: white;
    border-radius: 0.2rem;
    transition: all 0.4s ease-in-out;
  }
  ul.header__main-nav--links {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  ul.header__main-nav--links li {
    margin-bottom: 4vh;
    margin-left: 6vw;
  }
  .clicked div.line-1 {
    transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
  }
  .clicked .line-2 {
    opacity: 0;
  }
  .clicked .line-3 {
    transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
  }
  ul.header__main-nav--links li {
    opacity: 0;
  }
  ul.header__main-nav--links li:nth-child(1) {
    transition: all 0.5s ease-in-out 0.2s;
  }
  ul.header__main-nav--links li:nth-child(2) {
    transition: all 0.5s ease-in-out 0.4s;
  }
  ul.header__main-nav--links li:nth-child(3) {
    transition: all 0.5s ease-in-out 0.6s;
  }
  ul.header__main-nav--links li:nth-child(4) {
    transition: all 0.5s ease-in-out 0.8s;
  }
  ul.header__main-nav--links li:nth-child(5) {
    transition: all 0.5s ease-in-out 1s;
  }
  ul.header__main-nav--links li:nth-child(6) {
    transition: all 0.5s ease-in-out 1.2s;
  }
  ul.header__main-nav--links li.fade {
    opacity: 1;
  }
  section#showcase {
    background-position: 80%;
  }

  /* *********************** Services Section *******************  */
  /* *********************** Skill Section *******************  */
  /* *--*--*--*--*--*--*--* Testimonial Sections  *--*--*--*--*--*--*--*  */

  section#services {
    padding: 6rem 3rem 2rem;
  }
  .service {
    padding: calc(1rem + 2vw);
    margin: 0 0 calc(1rem + 2vw);
  }
  .services--title,
  .skills__design--title,
  .skills__coding--title,
  .testimonial__card--content__title {
    font-size: calc(1.2rem + 2vw);
  }
  .services--para,
  .skills__design h4,
  .skills__coding h4,
  .testimonial__card--content__para {
    font-size: calc(0.8rem + 1.5vw);
  }
}

@media screen and (max-width: 460px) {
  /* testimonial section */
  .testimonials__card--content {
    top: 0;
    height: 100%;
    width: 100%;
    /* transform: scaleY(0); */
    transform-origin: bottom;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .testimonials__card:hover .testimonials__card--content,
  .testimonials__card:active .testimonials__card--content {
    transform-origin: top;
  }

  /* Contact Section */
  section#contact {
    background-position: 15% 5%;
  }
}
